<!DOCTYPE>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="/javascript/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/thread.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/quickreply.css">
  </head>
  <body onload="init('board','<%= board %>', null)">

    <div id="header">
      <div class="boardlist"></div>
      <div id="headerImage"></div>
      <div id="title">
        <h1><%= title %></h1>
      </div>
      <hr>
      <form id="boardForm" method="post" enctype="multipart/form-data" action="/upload">
        <input type="hidden" name="type" value="thread">
        <input type="hidden" name="belong" value=<%= board %>>
        <table id="submitForm">
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" placeholder="Anonymous"></td>
            </tr>
            <tr>
              <td>Subject</td>
              <td>
                <input type="text" name="subject">
                <input type="submit" value="Post">
              </td>
            </tr>
            <tr>
              <td>Comment</td>
              <td><textarea name="comment" form="boardForm"></textarea></td>
            </tr>
            <tr>
              <td>File</td>
              <td>
                <input id="selectImage" type="file" name="image">
                <span id="spoiler">[<input type="checkbox" name="spoiler">Spoiler?]</span>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div id="announcements">
      </div>
    </div>

    <hr>
    <div class="utils">
      [<a href="/<%= board %>/catalog">Catalog</a>]
    </div>

    <div id="content">
      <ul id="threads">
      </ul>
    </div>
    <hr>

    <script>
      $( function() {
        $( "#quickreply" ).dialog({
          autoOpen: false
        });
      } );
    </script>

    <div id="quickreply" title="Reply to thread No.Placeholder">
      <form id="quickreplyForm" method="post" enctype="multipart/form-data" action="/upload">
        <input type="hidden" name="type" value="post">
        <input id="threadId" type="hidden" name="belong" value="placeholder">
        <input type="text" name="name" placeholder="Anonymous">
        <textarea id="quickreplyComment" name="comment" form="quickreplyForm"></textarea>
        <input id="selectImage" type="file" name="image">
        <span id="spoiler">[<input type="checkbox" name="spoiler">Spoiler?]</span>
        <input type="submit" value="Post">
    </div>

    <div id="footer">
      <div class="boardlist"></div>
      <div id="credits">
        Imageboard based on <a href="https://github.com/MeesCode/DevBoard">DevBoard</a> by Mees Brinkhuis.
      </div>
    </div>

  </body>
</html>
