<!DOCTYPE>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascript/script.js"></script>
    <script src="/javascript/catalog.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/catalog.css">
  </head>
  <body onload="getAnnouncements(), getBoardListCatalog(), getHeaderImage(), getCatalog('<%= board %>')">

    <div id="header">
      <div class="boardlist"></div>
      <div id="headerImage"></div>
      <div id="title">
        <h1><%= title %></h1>
      </div>
      <hr>
      <form id="boardForm" method="post" enctype="multipart/form-data" action="/upload">
        <input type="hidden" name="type" value="thread">
        <input type="hidden" name="belong" value=<%= board %>>
        <table id="submitForm">
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name"></td>
            </tr>
            <tr>
              <td>Subject</td>
              <td>
                <input type="text" name="subject">
                <input type="submit" value="Post">
              </td>
            </tr>
            <tr>
              <td>Comment</td>
              <td><textarea name="comment" form="boardForm"></textarea></td>
            </tr>
            <tr>
              <td>File</td>
              <td><input id="selectImage" type="file" name="image"></td>
            </tr>
          </tbody>
        </table>
      </form>
      <div id="announcements">
      </div>
    </div>

    <hr>
    <div class="utils">
      [<a href="/<%= board %>">Return</a>]
      [<a href="#footer">Bottom</a>]
      [<a href="/<%= board %>/catalog">Refresh</a>]
    </div>

    <hr>
    <div id="content">
      <ul id="threads">
      </ul>
    </div>

    <hr>
    <div class="utils">
      [<a href="/<%= board %>">Return</a>]
      [<a href="#header">Top</a>]
      [<a href="/<%= board %>/catalog">Refresh</a>]
    </div>

    <hr>
    <div id="footer">
      <div class="boardlist"></div>
      <div id="credits">
        Imageboard based on <a href="https://github.com/MeesCode/DevBoard">DevBoard</a> by Mees Brinkhuis.
      </div>
    </div>

  </body>
</html>
